/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #E2EFF7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor del formulario de inicio de sesión */
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #DBDBDB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Título */
.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilos de los campos de formulario */
.login-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Botón de inicio de sesión */
.login-container button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: #5A9FD6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #3b7bbf;
}

/* Enlace para crear cuenta */
.login-container a {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #5A9FD6;
    text-decoration: none;
    transition: color 0.3s;
}

.login-container a:hover {
    color: #3b7bbf;
}
