/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #E2EFF7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.container {
    margin-top: 100px;
    display: flex;
    width: 80%;
    height: 80%;
    background-color: #E2EFF7;
    border-radius: 10px;
}

/* Estilos para el contenido */
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-section {
    background-color: #DBDBDB;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}

/* Estilos para el formulario */
.profile-section form {
    display: flex;
    flex-direction: column;
}

.profile-section form label {
    margin-top: 15px;
    font-weight: bold;
}

.profile-section form input[type="text"],
.profile-section form input[type="email"],
.profile-section form input[type="password"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.btn-save {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save:hover {
    background-color: #0056b3;
}

.error-msg {
    color: red;
    font-size: 14px;
    display: none;
}

/* Estilos del header */

header {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
header img {
    height: 40px;
}
header nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

header nav ul li a.active {
    background-color: #ADD8E6;
    font-weight: bold;
}

/* Estilos del footer */
footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
}

footer p {
    font-size: 14px;
    color: #333;
}
